<div class="header__menu menu">
	<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "https://google.com","ancor": "Home"},
					{"href": "#","ancor": "About"},
					{"href": "#","ancor": "Blog"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
		<div class="menu__contacts">
			<div class="menu__contacts-info">
				<p class="menu__contacts-text --icon-home">Mirabad Street 33</p>
				<p class="menu__contacts-text --icon-phone">+998901254090</p>
				<p class="menu__contacts-text --icon-mail">constrix@gmail.com</p>
			</div>
			<div class="menu__social">
				<a href="#" class="menu__social-link">
					<img src="@img/social-icons/instagram.svg" alt="Instagram">
				</a>
				<a href="#" class="menu__social-link">
					<img src="@img/social-icons/telegram.svg" alt="Telegram">
				</a>
				<a href="#" class="menu__social-link">
					<img src="@img/social-icons/facebook.svg" alt="Facebook">
				</a>
				<a href="#" class="menu__social-link">
					<img src="@img/social-icons/youtube.svg" alt="YouTube">
				</a>
			</div>
		</div>
	</nav>
</div>


<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>