.footer {
	@include adaptiveValue("padding-top", 85, 36,0,1200,768);
	@include adaptiveValue("padding-bottom", 40, 22,0,1200,768);
	background-color: $blackBg;
		&__container {
			
		}

		&__body {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include adaptiveValue("padding-bottom", 54, 30);
			@include adaptiveValue("margin-bottom", 40, 20);
			// @include adaptiveValue("gap", 150, 32,0,1200,768);
			gap: 32px;
			&::before{
				content:'';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: #262626;
			}
			@media screen and (max-width: 1224px) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				
			}
		}

		&__logo {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
		
		&__right {
			
		}

		&__descr {
			color: rgba(255, 255, 255, 0.6);
			@media (min-width: 1224px) {
				max-width: 600px;
			}
		}

		&__logo-link {
		}

		&__logo-info {
		}

		&__logo-name {
		}

		&__logo-descr {
		}

		&__items {
			@media (min-width:toEm($mobile)){	  
				display: flex;
				@include adaptiveValue("gap", 64, 24,0,1200,768);
			}
			@media (min-width:toEm($mobile)) and (max-width: 1224px) {
				justify-content: space-between;
				width: 100%;
			}
			@media (max-width:toEm($mobile)){
				 width: 100%; 
			}
		}

		&__bottom {
			@media (min-width:toEm($mobile)){
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;
			}
		}

		&__copyright {
			color: rgba(255, 255, 255, 0.6);
			@media (max-width:toEm($mobile)){
				 margin-bottom: 20px; 
				 width: 100%;
			}
		}

		&__policy {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 32px;
			
		}

		&__policy-link {
			color: rgba(255, 255, 255, 0.6);
			transition: all 0.3s ease;
				&:hover {
					color: $whiteColor;
				}
		}
}

.footer-spollers {

		&__item {
		}

		&__title {
			color: $whiteColor;
			margin-bottom: 22px;
			transition: color .3s ease;
			&:hover {
				text-decoration: underline;
			}
			cursor: default;
			text-align: left;
			position: relative;
				list-style: none;
				&::marker,
				&::-webkit-details-marker {
					display: none;
				}
				.--spoller-init & {
					cursor: pointer;
					&::before,
					&::after {
						content: "";
						position: absolute;
						right: 10px;
						top: 50%;
						background-color: #fff;
						height: 2px;
						width: 15px;
						transition: transform 0.5s ease 0s;
					}
					&::before {
						transform: translate(-75%, -50%) rotate(40deg);
					}
					&::after {
						transform: translate(0, -50%) rotate(-40deg);
					}
					&.--spoller-active {
						&::before {
							transform: translateX(-75%) rotate(-40deg);
						}
						&::after {
							transform: rotate(40deg);
						}
					}
				}
		}

		&__list {
		}

		&__info {
			margin-bottom: 22px;
		}

		&__link {
			color: rgba(255, 255, 255, 0.6);
			transition: all 0.3s ease;
				&:hover {
					color: $whiteColor;
				}
		}
}

