<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div class="footer__right">
				<a href="#" class="footer__logo logo-site">
					<svg class="logo-site__svg">
						<use xlink:href="__spritemap#sprite-logo-white"></use>
					</svg>
					<div class="logo-site__info">
						<div class="logo-site__name">CONSTRIX</div>
						<div class="logo-site__descr">Architekture | Engineering</div>
					</div>
				</a>
				<p class="footer__descr">Premium stone masonry for the most discerning
					architectural projects. Crafting excellence since
					1998.</p>
			</div>
			<div class="footer__items items-footer">
				<div class="items-footer__item">
					<div class="items-footer__subtitle">Navigation</div>
					<ul class="items-footer__list">
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Home</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">About</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Services</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Portfolio</a></li>
					</ul>
				</div>
				<div class="items-footer__item">
					<div class="items-footer__subtitle">Services</div>
					<ul class="items-footer__list">
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Pools & Water Features</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Architectural Masonry</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Hardscape Design</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Custom Stonework</a></li>
					</ul>
				</div>
				<div class="items-footer__item">
					<div class="items-footer__subtitle">Contact</div>
					<ul class="items-footer__list">
						<li class="items-footer__info"><a href="`/" class="items-footer__link">1247 Stone Canyon Road</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">Los Angeles, CA 90077</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">+1 (310) 555-1234</a></li>
						<li class="items-footer__info"><a href="`/" class="items-footer__link">info@mansory.com</a></li>
					</ul>
				</div>

			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__copyright">
				&copy; © 2026 CONSTRIX. All rights reserved.
			</div>
			<div class="footer__policy">
				<a href="/policy" class="footer__policy-link">Privacy Policy</a>
				<a href="/policy" class="footer__policy-link">Terms of Service</a>
			</div>
		</div>
	</div>
</footer>